@{
    ViewBag.Tab = "Home";
}
<div id="layout-main" class="group">
    <div id="layout-content" class="group">
        <div id="content" class="group">
            <div class="zone zone-content">
                <article class="content-item page">
                    <h1 style="font-size: 25px; font-weight: bold; color:red; text-shadow: rgba(0,0,0,.1) 0px 0px 1px;">NOTE: This gallery is still a work in progress, bear with us!</h1>
                    <h2 style="font-size: 25px; font-weight: normal; text-shadow: rgba(0,0,0,.1) 0px 0px 1px;">You are getting an early preview. The client works, the site show packages and other information.</h2>
                    <div class="MIX-hero">
                        <div class="MIX-hero-text">
                            <h2 style="font-size: 25px; font-weight: normal; text-shadow: rgba(0,0,0,.1) 0px 0px 1px;">Let's get chocolatey!</h2>
                            <p style="font-size: 18px; line-height: 30px;">Chocolatey NuGet is a Machine Package Manager, somewhat like apt-get, but built with windows in mind.</p>
                            <!--<p><span class="install" style="margin: 42px 0 0 0;">Install Chocolatey</span></p>-->
                            <h2>Easy Install!</h2>
                            <p style="font-size: 16px;">To install chocolatey now, open a powershell prompt (execution policy needs to be unrestricted), paste the following and type Enter: 
                            </p>
                        </div>
                        <div>
                          <div class="commandWrapper">
                            <div class="commandPrompt">
                              <p class="command" style="font-size: 20px;">PS:\&gt; iex ((new-object net.webclient).DownloadString("http://bit.ly/psChocInstall"))</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </article>  
            </div>
        </div>
    </div>
    <div id="layout-after-main" class="group">
        <div class="zone zone-after-main">
            <article class="widget-html-widget widget">
                <div class="MIX-secondary group">
                    <div style="float: left; width: 470px; margin: 0 0 24px 0;">
                        <h3 style="font-size: 18px; font-weight: normal;">About</h3>
                        <p style="font-size: 14px; line-height: 26px;">When you use chocolatey to install applicatons/tools, nearly all you need to do is type one line and let it finish the rest!</p>
                    </div>
                    <div style="float: right; width: 470px; margin: 0 0 24px 0;">&nbsp;</div>
                    <div class="MIX-notice">
                        <h3 style="font-size: 18px; font-weight: normal;">Important Notice</h3>
                        <p style="font-size: 14px; line-height: 26px;">You can develop your own packages and share them via the Chocolatey Gallery. Read the documentation for more details on <a title="Creating and submitting a package" href="https://github.com/chocolatey/chocolatey/wiki/CreatePackages">how to create and publish a package</a>. If you don&rsquo;t plan on submitting a package, there&rsquo;s no need to register.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
